.container-login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  padding: 185px 20px 0 20px;
  width: 100%;
}

.container-login__components {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  gap: 1rem;
}

.container-login__image {
  display: none;
}

.container-login__components__text{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
}

.text-shared{
  font-size: 14px;
  font-family: var(--Second);
}

.link-create,
.link-recover{
  font-size: 14px;
  font-family: var(--Second);
  color: var(--Red);
  text-decoration: none;
}



@media (min-width: 600px) and (max-width: 1109px) {
  .container-login {
    max-width: 512px;
  }
}

@media (min-width: 1110px) {
  .container-login__image {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 50%;
  }

  .container-login__components {
    padding: 2rem;
    max-width: 556px;
    margin-left: auto;
    margin-right: auto;
  }

  .container-login {
    justify-content: space-between;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
  }
}
