*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-y: scroll;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}



:root {
    /* Variables de colores */
    --Red: #e30613;
    --White: #fff;
    --Blue: #171e53;
    --Grey: #e8e8e8;
    --Dark-Grey: #3F3F3F;
    --Scarlett: #B6000B;
    --Blackish-Green: #121;

    /* Variables de fuentes */
    --Main: "Roboto", sans-serif;
    --Second: "San Francisco", sans-serif;
    --Third: "Inter", sans-serif;
    --Fourth: "Segoe UI", sans-serif;

    /* Breakpoints */
    --Max-Mobile: 480px;
    --Min-Tablet: 481px;
    --Max-Tablet: 978px;
    --Min-Desktop-Norm: 979px;
    --Max-Desktop-Norm: 1440px;
    --Min-Desktop-Big: 1441px;
}